body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: large;
}

code {
  font-family: sans-serif, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Container that encapsulates all of the photoSlides (imgs) */
.slideshow-container {
  max-width: 100vw;
  min-width: 0;
  position: relative;
  margin: auto;
  display: flex;
  padding-top: 1%;
  padding-bottom: 1%;

}

.photoSlide {
  height: auto;
  align-self: center;
  min-width: 0;
  flex: 1;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

img.fullscreen {
  width: 100%;
  height: 85vh;
  opacity: .5;
  flex: 1;
}

.photo-text {
  color: #f2f2f2;
  font-size: 30px;
  font-weight: bolder;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  animation-duration: 0;
}

.header-text {
  display: inline-block;
  font-weight: bolder;
  font-size: larger;
}

.Verified-Dashboard {
  position: relative;
  width: 50%;
}

.About-Us {
  position: relative;
  width: 50%;
}

.Header {
  height: 8vh;
  width: 100%;
  background-color: rgb(82, 81, 81);
  position: relative;
  flex: 1;
}

.Photos {
  height: 92vh;
  width: 100%;
  position: relative;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

.scrollSnap {
  flex-direction: column;
  display: flex;
  background-color: #1C2E4A;
  scroll-snap-type: y proximity;
  height: 100vh;
  overflow-y: scroll;
}

.contentScroll {
  scroll-snap-align: start;
  height: 100%;
}

/* Allows associated dot to be put as active when picture is up */
.active {
  background-color: #717171;
}

img:hover {
  opacity: 0.8;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.dashboard {
  width: 100%;
  height: 80vh;
  position: relative;
  justify-self: center;
  align-self: center;
  font-size: larger;
}

.content {
  width: 75%;
  height: 90%;
  justify-self: center;
  align-self: center;
  background-color: white;
  border-radius: 20%;
  margin: 5%;
  display: flex;
  flex-direction: column;
  padding: 3%;
}

/* This is to adjust how the components are structured and styled depending on if the
    screen's max-width is 1000px or less. This should cover most phone dimensions */
@media only screen and (max-width: 1000px) {
  p {
    font-size: medium;
  }

  img.fullscreen {
    width: 100%;
    height: 76vh;
    opacity: .5;
    flex: 1;
    /* display: block; */
  }

  .Photos {
    height: 80vh;
    width: 100%;
    position: relative;
  }

  .Verified-Dashboard {
    position: relative;
    height: 100vh;
    width: 100%;
  }

  .About-Us {
    position: relative;
    height: 100vh;
  }

  .flexRow {
    display: flex;
    flex-direction: column;
  }

  .content {
    width: 90%;
    height: 80%;
    justify-self: center;
    align-self: center;
    background-color: white;
    border-radius: 20%;
    margin: 0%;
    display: flex;
    flex-direction: column;
    padding: 5%;
  }

  p.header {
    display: inline-block;
    text-align: center;
    font-weight: bolder;
    font-size: small;
  }

  .scrollSnap {
    flex-direction: column;
    display: flex;
    background-color: #1C2E4A;
    height: 100vh;
  }
}