body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: large;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.dashboard {
  width: 100%;
  height: 80vh;
  position: relative;
  justify-self: center;
  align-self: center;
  font-size: larger;
  /* padding-left: 50px;
  padding-right: 50px; */
}

.content {
  width: 75%;
  height: 90%;
  justify-self: center;
  align-self: center;
  background-color: white;
  border-radius: 20%;
}

/* p.header {
  text-align: center;
  font-weight: bolder;
  text-decoration: underline;
} */

p.text {
  text-align: left;
  font-weight: bold;
}

p.inline {
  display: inline-block;
  text-align: left;
}

p.header {
  display: inline-block;
  text-align: center;
  font-weight: bolder;
  font-size: larger;
  text-decoration: underline;
}